<html>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <link rel="stylesheet" type="text/css" href="style.css"/>
    

    <div id="app">
        <h1>Janice</h1>

        <h3>Select blog to write on. (insert dropdown/select)</h3>
        <button v-on:click="get_users_sites">Get Sites</button>


        <form id="blog-form" v-on:submit.prevent="submit_post">
            <input placeholder="Title" type="text" v-model="postForm.title"/>
            <textarea placeholder="Body" type="text" v-model="postForm.body"></textarea>
            <input placeholder="tags" type="text" v-model="postForm.tags"/>
            <input type="submit" value="Submit"/>
            <!-- <button v-on:click="submit_post">Submit</button> -->
        </form>
        {{postForm}}

        <button v-on:click="get_images">Insert Cover/Hero Photo</button>

        <div v-for="photo in twitch" v-if="photo != null">
            <img class="unsplash-photo-container" :src="photo.urls.regular" v-on:click="selectImg(photo.urls.regular)"/>
        </div>
        <p>provided by unsplash.com</p>

        <button v-on:click="oauth" v-if="notLoggedIn">login</button>
        <p v-if="!notLoggedIn">You are logged in.</p>


    </div>


    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                twitch: [],
                notLoggedIn: true,
                postForm:{title:'', body:'', tags:''}
            },
            methods:{
                get_images:function(){
                    const vue = this
                    var url = 'https://api.unsplash.com/photos/random?count=5&query=computer&client_id=7549a368d3a30920c5312c24a4c62b892bc9c5bbe96d55f4b9aaf36671158b3e';
                    axios.get(url)
                        .then(function(response){
                            vue.twitch = response.data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });

                },
                selectImg:function(img_url){
                    console.log('You selected img_url:', img_url);
                },
                submit_post: function(){
                    const vue = this
                    console.log('submit_post: start of method:', vue.postForm);
                },
                upload_image_to_wp: function(){
                    // curl \
                    //  -H 'authorization: Bearer YOUR_API_TOKEN' \
                    //  --data-urlencode 'media_urls=https://s.w.org/about/images/logos/codeispoetry-rgb.png' \
                    //  'https://public-api.wordpress.com/rest/v1.1/sites/82974409/media/new'

                    var url = 'https://public-api.wordpress.com/rest/v1.1/sites/82974409/media/new'
                    url += '?media_urls=' + image_url
                    axios({
                        method: 'get',
                        url: url,
                        headers: {
                            'Authorization': 'BEARER ' + window.localStorage.getItem("access_token")
                        }
                    })

                },
                get_users_sites(){
                    var ac = window.localStorage.getItem("access_token");
                    console.log('ac:', ac);
                    var url = 'https://public-api.wordpress.com/rest/v1.1/me/sites'
                    axios({
                        method: 'get',
                        url: url,
                        headers: {
                            'Authorization': 'BEARER ' + decodeURIComponent(window.localStorage.getItem("access_token"))
                        }
                    })
                    .then(function(response){
                        console.log('get_users_sites, response:', response)
                    })
                    .catch(function(error){

                    })
                },
                oauth:function(){
                    //response_type=token for client, =code for server.
                    window.location.href = 'https://public-api.wordpress.com/oauth2/authorize?response_type=token&client_id=45998&state=81271fba7799d16e42a0bafbc008ab62&redirect_uri=http://localhost:8000'
                },
                oauth_client_side:function(access_token, expires_in){
                    //token last two weeks
                    //test post
                    axios({
                        method: 'post',
                        url: 'https://public-api.wordpress.com/rest/v1.1/sites/108370734/posts/new/',
                        data: {
                            title:'hello2',
                            content:'this is 2 helo',
                            tags:'tests',
                            categories:'API',
                            status:'draft',
                            featured_image:null //exisiting attatchment id
                        },
                        headers: {
                            // 'content-type': 'application/json',
                            'Authorization': 'BEARER ' + access_token
                        }
                    })
                    .then(function(response) {
                        console.log('token?', response);
                    })
                    .catch(function(error){
                        console.log('error:', error);
                    });
                },
                // oauth_token_server_side:function(state, code){
                //     /*
                //     This is only to be used for server side code.
                //     */
                //     var payload = {
                //         'client_id':'45998',
                //         'redirect_uri':'http://localhost:8000',
                //         'client_secret':'Z9wnBuKVZMS9yXKCvn31SrljBOxmi9p1tfGGPSoODcviyYRd2cltuBIDjm5NCxfq',
                //         'code':code,
                //         'grant_type':'authorization_code'
                //     }
                //     // Send a POST request
                //     axios({
                //       method: 'post',
                //       url: 'https://public-api.wordpress.com/oauth2/token',
                //       data: payload,
                //       headers: {'content-type': 'application/javascript'}
                //     })
                //     .then(function(response) {
                //         console.log('token?', response);
                //     })
                //     .catch(function(error){
                //         console.log('error:', error);
                //     });

                // },
                check_url:function(){
                    // if(window.location.href.indexOf("code") > -1 && window.location.href.indexOf("state") > -1) {
                    //     var info = window.location.href.split('/?')[1];
                    //     code = info.substring(info.indexOf('code')+5,info.indexOf('&'))
                    //     state = info.substring(info.indexOf('code')+5,)
                    //     state = state.substring(state.indexOf('state')+6,)
                    //     console.log('state:', state, code)
                    //     this.oauth_token_server_side(state, code);
                    // }
                    // else 
                    var myStorage = window.localStorage;

                    if(myStorage.getItem("access_token") !== null){
                        console.log('you have a access token.');
                        const vue = this;
                        vue.notLoggedIn = false;

                    }
                    else if(window.location.href.indexOf("access_token") > -1 && window.location.href.indexOf("expires_in") > -1) {
                        var info = window.location.href;
                        access_token = info.substring(info.indexOf('access_token')+13,info.indexOf('&'))
                        expires_in = info.substring(info.indexOf('access_token')+13,)
                        expires_in = expires_in.substring(expires_in.indexOf('expires_in')+11,)
                        expires_in = expires_in.substring(0,expires_in.indexOf('&'))
                        // console.log('access_token:', access_token, expires_in);

                        access_token = decodeURIComponent(access_token)

                        myStorage.setItem('access_token', access_token);
                        myStorage.setItem('expires_in', expires_in);

                        // this.oauth_client_side(access_token, expires_in);

                    }
                }
            },
            // created: function(){}
        })
        app.check_url();

    </script>

</html>

