<html>

    <head>
        <!-- Vue Scripts -->
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <!-- Style -->
        <link rel="stylesheet" type="text/css" href="style.css"/>

        <!-- Fonts -->
        <script src="https://use.fontawesome.com/a55bf4c5ff.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,600,600i,700,700i|Overpass+Mono:300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    </head>

    <body>

        <h1 class="logo-font">JaniceWrite</h1>

        <div class="toolbar">
            <a href="#" data-command='bold'><i class='fa fa-bold'></i></a>
            <a href="#" data-command='italic'><i class='fa fa-italic'></i></a>
            <a href="#" data-command='underline'><i class='fa fa-underline'></i></a>
            <a href="#" data-command='insertUnorderedList'><i class='fa fa-list-ul'></i></a>
            <a href="#" data-command='insertOrderedList'><i class='fa fa-list-ol'></i></a>
            <a href="#" data-command='h1'>H1</a>
            <a href="#" data-command='h2'>H2</a>
            <a href="#" data-command='p'>P</a>
            <a href="#" data-command='createlink'><i class='fa fa-link'></i></a>
            <a href="#" data-command='blockquote'><i class='fa fa-quote-left'></i></a>
        </div>


        


        <div id="app">

            <div class="main-content">
                <div class="contain-writer">
                    <input id="blog_title" type="text" v-model="postForm.title" placeholder="Title" />
                    <div id='editor' contenteditable>
                        <p v-on:click="placeChange" v-bind:class="{'placeholder':is_placeholder}" class="placeholder_default">
                            <span v-if="is_placeholder">What's on your mind...</span>
                        </p>
                    </div>
                </div>
            </div>

            <div v-if="user_info" class="user-info">
                <img v-bind:src="user_info.profile_img" v-on:click="showSignOut = !showSignOut" alt="profile"/>
                <!-- <h3>Hello {{user_info.name}}</h3> -->
                <div id="sign-out-box" v-bind:class="{ hidden: showSignOut }">
                    <button v-on:click="signOut">Sign Out</button>
                </div>
            </div>


            

            <div id="dashboard">
                
                <h4 class="right" id="publish-info" v-on:click="dashboardToggle">Publish Info 
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </h4>

                <div id="dashboard-content">
                    <div class="blog-status-login">
                        <h4>Wordpress
                            <span v-if="!notLoggedIntoWordpress" class="base-status green-status"></span>
                            <span v-if="notLoggedIntoWordpress" class="base-status red-status"></span>
                        </h4>
                        <button v-if="notLoggedIntoWordpress" v-on:click="oauth" class="log-in">Log In</button>
                    </div>

                    <div class="blog-status-login">
                        <h4>Medium
                            <span v-if="!notLoggedIntoMedium" class="base-status green-status"></span>
                            <span v-if="notLoggedIntoMedium" class="base-status red-status"></span>
                        </h4>
                        <button v-if="notLoggedIntoMedium" v-on:click="mediumAuth" class="log-in">Log In</button>
                    </div>

                    <hr>

                    <div class="">
                        <!-- <h4 v-on:click="showpublishpanel = !showpublishpanel">Publish 
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </h4> -->

                        <div id="publish-panel">
                            <!-- Hero Img functionality -->
                            <div>
                                <h4>Add Featured/Hero Image</h4>
                                <div v-if="heroImage != null" id="hero-small">
                                    <img :src="heroImage.link"/>
                                    <p>Photo by <a v-bind:href="heroImage.users_profile">{{heroImage.users_name}}</a></p>
                                </div>
                                <input type="text" v-model="photoSearchWord" placeholder="eg. Planet, red, person"><br>
                                <button v-on:click="get_images(photoSearchWord)">Search Unplash.com</button>
                                <div id="select-photo-popup" v-if="twitch.length != 0">
                                    <div id="spp-inner">
                                        <div v-for="photo in twitch" v-if="photo != null">
                                            <img class="unsplash-photo-container" :src="photo.urls.regular" v-on:click="selectImg(photo)"/>
                                            <p>Photo by <a v-bind:href="photo.user.links.html">{{photo.user.first_name}}</a></p>
                                        </div>
                                    </div>
                                </div>
                                <!-- <p v-if="twitch.length != 0">provided by unsplash.com</p> -->
                            </div>

                            <!-- Decide which to publish to -->
                            <div class="elbow-room">
                                <h4>Select Sites to Publish To</h4>
                                
                                <div v-if="!notLoggedIntoWordpress">
                                    <input type="checkbox" name="wordpress" value="true" v-model="postForm.publish_to_wp"><label>Wordpress</label><br>
                                    <div v-if="!notLoggedIntoWordpress && postForm.publish_to_wp">
                                        <h5>Select blog to write on.</h5>
                                        <button v-if="!wp_sites" v-on:click="get_users_sites">Get Sites</button>
                                        <select v-if="wp_sites" v-model="postForm.publish_to_wp_info">
                                            <option v-for="wp_site in wp_sites" :value="wp_site" >{{wp_site.url}} </option>
                                        </select>
                                    </div>
                                </div>

                                <div v-if="!notLoggedIntoMedium">
                                    <input type="checkbox" name="medium" value="true" v-model="postForm.publish_to_medium"><label>Medium</label><br>
                                </div>
                            </div>

                            <!-- Social share - maybe due this after you publish?? -->
                            <!-- <div>
                                <label>Share</label>
                                <div>
                                    <input type="checkbox" name="social">Facebook<br>
                                    <input type="checkbox" name="social">Twitter<br>
                                </div>
                            </div> -->

                            <!-- Tags -->
                            <div class="elbow-room">
                                <h4>Add Tags</h4>
                                <label>Comma Seperate Tags (5 max)</label>
                                <input placeholder="tags" type="text" v-model="postForm.tags"/>
                            </div>

                            <!-- Publish or Save as Draft -->
                            <div class="elbow-room">
                                <input type="radio" name="publishdraft" value="publish" v-model="postForm.publishOrDraft"><label>Publish</label><br>
                                <input type="radio" name="publishdraft" value="draft" v-model="postForm.publishOrDraft"><label>Save As Draft</label><br>
                            </div>

                            <button class="submit-btn" v-on:click="submit_post">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>


    <script type="text/javascript">
        var toolbar_a = document.getElementsByClassName('toolbar')[0].getElementsByTagName('a')
        for (var i = 0; i < toolbar_a.length; i++) {
            toolbar_a[i].onclick = function(){ elementChange(this) };
        }

        function elementChange(elem){
            console.log('elem:', elem);
            var command = elem.getAttribute('data-command');
            if (command == 'h1' || command == 'h2' || command == 'p' || command == 'blockquote') {
                document.execCommand('formatBlock', false, command);
            }
            else if (command == 'createlink' || command == 'insertimage') {
                url = prompt('Enter the link here: ', 'http:\/\/');
                document.execCommand(command, false, url);
            } 
            else {
                document.execCommand(command, false, null)
            };
        }
    </script>


    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                twitch: [],
                notLoggedIntoWordpress: true,
                notLoggedIntoMedium: true,
                postForm:{
                    title:'', 
                    body:'', 
                    tags:'',
                    publish_to_wp:false
                },
                user_info: null,
                wp_sites: null,
                showSignOut: true,
                pubtowordpress: false,
                showpublishpanel: false,
                photoSearchWord: null,
                heroImage: null,
                showdashboard: false,
                is_placeholder:true
            },
            methods:{
                mediumAuth:function(){
                    window.location.href = "https://medium.com/m/oauth/authorize?client_id=1292420447db&scope=basicProfile,publishPost&state=janiceapp&response_type=code&redirect_uri=http://localhost:8000/";
                },
                dashboardToggle: function(){
                    this.showdashboard = !this.showdashboard;

                    var mc = document.getElementsByClassName('main-content')[0];
                    if (!this.showdashboard){
                        document.getElementById('dashboard-content').style.visibility = "hidden";
                        document.getElementById('dashboard-content').style.opacity = "0";
                        mc.style.width = "75%";
                        mc.style.left = "10em";
                    }
                    else{
                        document.getElementById('dashboard-content').style.visibility = "visible";
                        document.getElementById('dashboard-content').style.opacity = "1";
                        mc.style.width = "70%";
                        mc.style.left = "7em";
                    }
                },
                placeChange: function(){
                    this.is_placeholder = false;
                    // this.blog.title = "&nbsp;";
                },
                mediumLongLivedToken(){
                    // POST /v1/tokens HTTP/1.1
                    // Host: api.medium.com
                    // Content-Type: application/x-www-form-urlencoded
                    // Accept: application/json
                    // Accept-Charset: utf-8
                },
                get_images:function(photoSearchWord){
                    const vue = this
                    if(photoSearchWord.length > 0){
                        var url = 'https://api.unsplash.com/photos/random?count=7&query=' + photoSearchWord +'&client_id=7549a368d3a30920c5312c24a4c62b892bc9c5bbe96d55f4b9aaf36671158b3e';
                        axios.get(url)
                            .then(function(response){
                                console.log(response)
                                vue.twitch = response.data;
                            })
                            .catch(function (error) {
                                console.log(error);
                                alert(JSON.stringify(error.response.data.errors));
                            });
                    }

                },
                selectImg:function(photo_data){
                    const vue = this;
                    console.log('You selected photo_data:', photo_data);
                    var photo_data_final = {
                        "link":photo_data.urls.regular,
                        "users_name":photo_data.user.first_name,
                        "users_profile":photo_data.user.links.html
                    }
                    console.log('photo_data_final:', photo_data_final);
                    vue.twitch = [];
                    vue.heroImage = photo_data_final;
                },
                submit_post: function(){
                    const vue = this;
                    vue.postForm.body = document.getElementById("editor");
                    console.log('heroImage:', vue.heroImage);
                    console.log('submit_post: start of method:', vue.postForm);

                    if (vue.postForm.title.length == 0){
                        alert("Most have a title");
                    }
                    if (vue.postForm.body.length == 0){
                        alert("Most have a body");
                    }
                    
                },
                upload_image_to_wp: function(){
                    // curl \
                    //  -H 'authorization: Bearer YOUR_API_TOKEN' \
                    //  --data-urlencode 'media_urls=https://s.w.org/about/images/logos/codeispoetry-rgb.png' \
                    //  'https://public-api.wordpress.com/rest/v1.1/sites/82974409/media/new'

                    var url = 'https://public-api.wordpress.com/rest/v1.1/sites/82974409/media/new'
                    url += '?media_urls=' + image_url
                    axios({
                        method: 'get',
                        url: url,
                        headers: {
                            'Authorization': 'BEARER ' + window.localStorage.getItem("access_token")
                        }
                    })

                },
                get_users_sites(){
                    var ac = window.localStorage.getItem("access_token");
                    const vue = this;
                    var url = 'https://public-api.wordpress.com/rest/v1.1/me/sites'
                    axios({
                        method: 'get',
                        url: url,
                        headers: {
                            'Authorization': 'BEARER ' + window.localStorage.getItem("access_token")
                        }
                    })
                    .then(function(response){
                        console.log('get_users_sites, response:', response);
                        if(response.status == 200){
                            var wp_sites = []
                            for(var i=0; i<response.data.sites.length; i++){
                                wp_site = response.data.sites[i]
                                wp_sites.push({
                                    "id":wp_site['ID'],
                                    "name":wp_site['name'],
                                    "url":wp_site['URL']
                                })
                            }
                            vue.wp_sites = wp_sites;
                            window.localStorage.setItem('wp_sites', JSON.stringify(wp_sites));
                        }
                        else{
                            alert('ERROR with getting sites.')
                        }
                    })
                    .catch(function(error){
                        alert(JSON.stringify(error));
                    })

                },
                signOut:function(){
                    //sign out the user aka remove all the cookies and such.
                    localStorage.clear();
                    const vue = this;
                    vue.notLoggedIntoWordpress = true;
                    vue.notLoggedIntoMedium = true;
                    vue.user_info = null; 
                    vue.wp_sites = null;

                },
                oauth:function(){
                    //response_type=token for client, =code for server.
                    window.location.href = 'https://public-api.wordpress.com/oauth2/authorize?response_type=token&client_id=45998&state=81271fba7799d16e42a0bafbc008ab62&redirect_uri=http://localhost:8000&scope=global'
                },
                oauth_client_side:function(access_token, expires_in){
                    //token last two weeks
                    //test post
                    axios({
                        method: 'post',
                        url: 'https://public-api.wordpress.com/rest/v1.1/sites/108370734/posts/new/',
                        data: {
                            title:'hello2',
                            content:'this is 2 helo',
                            tags:'tests',
                            categories:'API',
                            status:'draft',
                            featured_image:null //exisiting attatchment id
                        },
                        headers: {
                            // 'content-type': 'application/json',
                            'Authorization': 'BEARER ' + access_token
                        }
                    })
                    .then(function(response) {
                        console.log('token?', response);
                    })
                    .catch(function(error){
                        console.log('error:', error);
                    });
                },
                // oauth_token_server_side:function(state, code){
                //     /*
                //     This is only to be used for server side code.
                //     */
                //     var payload = {
                //         'client_id':'45998',
                //         'redirect_uri':'http://localhost:8000',
                //         'client_secret':'Z9wnBuKVZMS9yXKCvn31SrljBOxmi9p1tfGGPSoODcviyYRd2cltuBIDjm5NCxfq',
                //         'code':code,
                //         'grant_type':'authorization_code'
                //     }
                //     // Send a POST request
                //     axios({
                //       method: 'post',
                //       url: 'https://public-api.wordpress.com/oauth2/token',
                //       data: payload,
                //       headers: {'content-type': 'application/javascript'}
                //     })
                //     .then(function(response) {
                //         console.log('token?', response);
                //     })
                //     .catch(function(error){
                //         console.log('error:', error);
                //     });

                // },
                check_url:function(){
                    // if(window.location.href.indexOf("code") > -1 && window.location.href.indexOf("state") > -1) {
                    //     var info = window.location.href.split('/?')[1];
                    //     code = info.substring(info.indexOf('code')+5,info.indexOf('&'))
                    //     state = info.substring(info.indexOf('code')+5,)
                    //     state = state.substring(state.indexOf('state')+6,)
                    //     console.log('state:', state, code)
                    //     this.oauth_token_server_side(state, code);
                    // }
                    // else 
                    const vue = this;

                    var myStorage = window.localStorage;

                    // myStorage.removeItem("wp_sites");
                    // myStorage.removeItem("access_token");


                    //check for wordpress sites
                    if(myStorage.getItem("wp_sites") !== null){
                        vue.wp_sites = JSON.parse(myStorage.getItem("wp_sites"));
                    }

                    if(window.localStorage.getItem('user_info') !== null){
                        vue.user_info = JSON.parse(window.localStorage.getItem('user_info'));
                    }

                    //check for Wordpress token
                    if(myStorage.getItem("access_token") !== null){
                        console.log('you have a access token.');
                        // const vue = this;
                        vue.notLoggedIntoWordpress = false;
                    }
                    else if(window.location.href.indexOf("access_token") > -1 && window.location.href.indexOf("expires_in") > -1) {
                        var info = window.location.href;
                        access_token = info.substring(info.indexOf('access_token')+13,info.indexOf('&'))
                        expires_in = info.substring(info.indexOf('access_token')+13,)
                        expires_in = expires_in.substring(expires_in.indexOf('expires_in')+11,)
                        expires_in = expires_in.substring(0,expires_in.indexOf('&'))

                        access_token = decodeURIComponent(access_token)
                        myStorage.setItem('access_token', access_token);
                        myStorage.setItem('expires_in', expires_in);

                        vue.notLoggedIntoWordpress = false;

                        //get user information and store into localstorage
                        var url = 'https://public-api.wordpress.com/rest/v1.1/me/'
                        axios({
                            method: 'get',
                            url: url,
                            headers: {
                                'Authorization': 'BEARER ' + window.localStorage.getItem("access_token")
                            }
                        })
                        .then(function(response){
                            console.log("me response:", response);
                            var user_info = {};
                            if (response.status == 200){
                                user_info['profile_img'] = response.data.avatar_URL;
                                user_info['name'] = response.data.display_name;
                                user_info['id'] = response.data.ID;
                                vue.user_info = user_info;
                                window.localStorage.setItem('user_info', JSON.stringify(user_info));
                            }
                            else{
                                alert("Failed get user information: " + JSON.stringify(response))
                            }
                        })
                        .catch(function(error){
                            alert(JSON.stringify(error));
                        })
                    }

                    if(vue.notLoggedIntoWordpress){
                        //when not logged in, then remove these if they exists
                        if(myStorage.getItem("wp_sites") !== null){
                            myStorage.removeItem("wp_sites");
                            vue.wp_sites = null;
                        }
                        if(window.localStorage.getItem('user_info') !== null){
                            myStorage.removeItem('user_info');
                            vue.user_info = null;
                        }   
                    }
                    
                    //check for Medium token
                    if(myStorage.getItem("medium_token") !== null){
                        console.log('you have a medium_token.');
                        // const vue = this;
                        vue.notLoggedIntoMedium = false;
                    }
                    else if(window.location.href.indexOf('code=') > -1 && window.location.href.indexOf('state=') > -1){
                        var info = window.location.href;
                        code = info.substring(info.indexOf('code=')+5,)

                        //now make api call to set the long period auth
                        var url = "https://api.medium.com//v1/tokens?code=" + code + "&client_id=1292420447db&client_secret=7b1d0c1d9a1ef5af7ad3cad5629c3956e6511724&grant_type=authorization_code&redirect_uri=http://www.pondersimple.com"

                        axios({
                            method: 'post',
                            url: url,
                            headers: {
                                "Content-Type": "application/x-www-form-urlencoded",
                                "Accept": "application/json",
                                "Accept-Charset": "utf-8"
                            }
                        })
                        .then(function(response) {
                            console.log('medium token?', response);
                            
                            //now set the token to localstorage
                            // myStorage.setItem('medium_token', medium_token);

                        })
                        .catch(function(error){
                            console.log('medium token, error:', error);
                        });
                    }
                }
            },
            // created: function(){}
        })
        app.check_url();

    </script>



</html>

