
h1{
    color: blue;
}

h1,h2,h3,h4,h5,h6,p,li,a,button{
    font-family: Roboto Slab;
    letter-spacing: .5px;
    color: #3a3a3a;
}

.logo-font{
    font-family:Pacifico;
    color: #353528;
}
h1.logo-font{
    margin-top: 1px;
    margin-left: 11px;
}

.unsplash-photo-container{
    width: 25em;
    margin: 1em;
    cursor: pointer;
}
.unsplash-photo-container:hover{
    border:5px solid blue;
}

#blog-form{
	width: 18em;
}
#blog-form input,
#blog-form textarea{
	display: block;
    width: 100%;
    padding: 10px;
    margin: 2px;
}

#blog-form textarea{
	resize:vertical;
}

.content-left{
    width: 20%;
    display: inline-block;
    float: left;
}
.content-right{
    width: 80%;
    display: inline-block;
}
.contain-writer{
    width: 80%;
    margin: 0 auto;
    padding: 4em 2em 4em;
}
.hidden{
    display: none;
}
.user-info{
    position: absolute;
    right: 1em;
    top: 1em;
    width: 5em;
}
.user-info > img{
    border-radius: 100%;
    width: 30px;
    cursor: pointer;
    float: right;
    transition: width .1s ease;
    border: 2px solid gray;
}
.user-info > img:hover{
    border: 2px solid purple;
    width: 37px;
}
.user-info > h3{
    font-size: 13px;
    display: inline-block;
    float: right;
}
.user-info #sign-out-box{
    float: right;
    margin-top: 6px;
}

#editor{
    /*border: 2px solid black;*/
    margin-top:3em;
    padding:3em;
    box-shadow: 2px 1px 17px -4px rgba(0, 0, 0, 0.2);
    box-shadow: -3px 2px 18px -3px rgba(0, 0, 0, 0.1);
}
#editor:focus{
    outline: none !important;
}

#editor p{
    font-family: Overpass Mono;
    color:rgba(0,0,0,.8);
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
}
#editor blockquote{
    font-family: Overpass Mono;
    color:rgba(0,0,0,.8);
    font-size: 25px;
    line-height: 2;
    letter-spacing: -.004em;
    font-style: italic;
    width: 80%;
    margin: 0 auto;
}

#editor h1,
#editor h2{
    font-family: Asap;
    color:rgba(0,0,0,.8);
    
}

#editor h1{
    font-size: 40px;
    line-height: 1.04;
    letter-spacing: 1.1px;
}

#editor h2{
    font-size: 30px;
    line-height: 1;
    letter-spacing: 1px;
}

.toolbar{
    padding:10px;
    border: 2px solid #ececec;
    border-radius: 12px;
    width: 28em;
}
.toolbar a{
    font-size: 22px;
    color: #ececec;
    padding: 10px;
    cursor: pointer;
    transition: color .2s ease;
    -webkit-transition: color .2s ease;
}
.toolbar a:hover{
    color: #212121;
}

h4{
    margin-bottom: 5px;
}
h5{
    margin-bottom: 9px;
}
.control-panel{
    /*background: #eff4f7;
    background: #eff4f7;*/
    padding: 1em 1.2em;
    padding: 11px 14px;
    margin-bottom: 5px;
}
.control-panel h4{
    font-weight: 500;
    display: inline-block;
    margin: 0;
}
.control-panel h5{
    font-weight: 500;
}
.control-panel button.log-in{
    float: right;
    border: 0px;
    background: white;
    margin-top: 2px;
    cursor: pointer;
}
.control-panel button.log-in:hover{
    color: blue;
}

#wordpress-control-center{
    
}


.base-status{
    width: 4px;
    border-radius: 100%;
    background-color: gray;
    padding: 3px;
    height: 4px;
    display: inline-block;
}
.green-status{
    background-color: green;
}
.red-status{
    background-color: red;
}


#select-photo-popup{
    position: absolute;
    background: black;
    width: 650px;
    margin: 0 auto;
    left: 16em;
    top: 5em;
    border-radius: 9px;
}
#spp-inner{
    margin: 0 auto;
    text-align: center;
    padding: 3em;
}
#hero-small img{
    width: 100%;
}
#hero-small p{
    font-size: 10px;
    padding:0;
}


