
h1{
    color: blue;
}

h1,h2,h3,h4,h5,h6,p,li,a,button{
    font-family: Roboto Slab;
    letter-spacing: .5px;
    color: #3a3a3a;
}

.unsplash-photo-container{
    width: 25em;
    margin: 1em;
    cursor: pointer;
}
.unsplash-photo-container:hover{
    border:5px solid blue;
}

#blog-form{
	width: 18em;
}
#blog-form input,
#blog-form textarea{
	display: block;
    width: 100%;
    padding: 10px;
    margin: 2px;
}

#blog-form textarea{
	resize:vertical;
}

.content-left{
    width: 25%;
    display: inline-block;
    float: left;
}
.content-right{
    width: 70%;
    display: inline-block;
}
.contain-writer{
    width: 95%;
    margin: 0 auto;
    padding:2em;
}
#editor{
    /*border: 2px solid black;*/
    margin-top:3em;
    padding:3em;
    box-shadow: 2px 1px 17px -4px rgba(0, 0, 0, 0.2);
}
#editor:focus{
    box-shadow: none !important;
    outline: none !important;
}

#editor p{
    font-family: Overpass Mono;
    color:rgba(0,0,0,.8);
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
}
#editor h1,
#editor h2{
    font-family: Asap;
    color:rgba(0,0,0,.8);
    
}

#editor h1{
    font-size: 40px;
    line-height: 1.04;
    letter-spacing: 1.1px;
}

#editor h2{
    font-size: 30px;
    line-height: 1;
    letter-spacing: 1px;
}

.toolbar{
    padding:10px;
    border: 2px solid #ececec;
    border-radius: 12px;
    width: 25em;
}
.toolbar a{
    font-size: 22px;
    color: #ececec;
    padding: 10px;
}
.toolbar a:hover{
    color: #212121;
}

h4{
    margin-bottom: 5px;
}
h5{
    margin-bottom: 9px;
}
.control-panel{
    background: #eff4f7;
    background: #eff4f7;
    padding: 1em 1.2em;
    margin-bottom: 5px;
}
.control-panel h4{
    font-weight: 500;
}
.control-panel h5{
    font-weight: 500;
}

#wordpress-control-center{
    
}


