
html,body{
    /*height: 100%;
    overflow: hidden;*/
    margin: 0;
    background: #fbfbfb;

}

h1{
    color: blue;
}

h1,h2,h3,h4,h5,h6,p,li,a,button,label{
    font-family: Roboto Slab;
    letter-spacing: .5px;
    color: #3a3a3a;
}

.logo-font{
    font-family:Pacifico;
    color: #353528;
}
h1.logo-font{
    color: #ececec;
    /*margin-top: 1px;
    margin-left: 11px;*/
    font-size: 28px;
    /*text-align: center;*/
    left: 25px;
    top: -4px;
    position: absolute;
    transition: color .2s linear;
}
h1.logo-font:hover{
    color: #353528;
}

.unsplash-photo-container{
    width: 25em;
    margin: 1em;
    cursor: pointer;
}
.unsplash-photo-container:hover{
    border:5px solid blue;
}

#publish-panel h4{
    font-weight: 500;
}
#publish-panel .fa-stack{
    color: #3a3a3a;
        position: absolute;
    left: -2em;
}
#publish-panel .fa-stack-2x{
    font-size: 24px;
}
#publish-panel .text-primary{
    color: white;
    font-size: 12px;
    margin-top: -3px;
}

#blog-form{
	width: 18em;
}
#blog-form input,
#blog-form textarea{
	display: block;
    width: 100%;
    padding: 10px;
    margin: 2px;
    border-radius: 2px;
}

#blog-form textarea{
	resize:vertical;
}

.clickable-span{
    cursor: pointer;
    font-style: italic;
    color: green;
}
.clickable-span:hover{
    color: red;
}

input[type=text]{
    font-size: 14px;
    padding: 8px;
    width: 100%;
    margin: 6px 0 6px;
    border-radius: 2px;
    border: 1px solid #e1e1e1;
}
input[type=text]:focus{
    /*outline: 1px solid rgba(143, 28, 236, .5);*/
    outline: 0;
    /*border: 1px solid purple;*/
}
label{
    font-size: 13px;
    color: #4c4c4c;
    font-family: Hind;
}

.right{
    text-align: center;
}

#app{
    
    /*width: 20%;*/
    /*top:1em;*/
}
#dashboard{
    position: absolute;
    /*background: white;*/
    /*background: #fbfbfb;*/
    width: 250px;
    /*display: inline-block;*/
    /*float: left;*/
    /*left: 0;*/
    right: 3em;
    height: 90vh;
}
.main-content{
    position: absolute;
    height: 100vh;
    /*background: #fbfbfb;*/
    width: 75%;
    /*left: 28%;*/
    overflow: scroll;
    /*background-color: blue;*/
    /*width: 80%;
    display: inline-block;
    background-color: #fbfbfb;
    /*overflow: scroll;
    overflow-x: hidden;*/
    left: 10em;
    top: 5em;
    transition: all .1s ease-in-out;
}
#dashboard-content{
    /*transition: all 2s linear;*/
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in;
}

.contain-writer{
    width: 90%;
    margin: 0 auto;
    padding: 1em 2em 4em;
    /*height: 100%;*/
}
.hidden{
    display: none;
}
.user-info{
    position: absolute;
    right: 1em;
    top: 1em;
    width: 5em;
    z-index: 2;
}
.user-info > img{
    border-radius: 100%;
    width: 30px;
    cursor: pointer;
    float: right;
    transition: width .1s ease;
    border: 2px solid gray;
}
.user-info > img:hover{
    /*border: 2px solid purple;*/
    width: 37px;
}
.user-info > h3{
    font-size: 13px;
    display: inline-block;
    float: right;
}
.user-info #sign-out-box{
    float: right;
    margin-top: 6px;
}

#publish-info{
    color: #8a8a8a;
    font-weight: 500;
    cursor: pointer;
    transition: color .1s linear;
    font-family: Hind;
}
#publish-info:hover{
    color: #4a4a4a;
}
#publish-info .fa{
    font-size: 11px;
}

#editor{
    /*border: 2px solid black;*/
    margin-top:1em;
    padding:3em;
    box-shadow: 2px 1px 17px -4px rgba(0, 0, 0, 0.2);
    box-shadow: -3px 2px 18px -3px rgba(0, 0, 0, 0.1);
    background-color: white;
    /*height: 80%;*/
    margin-bottom: 10em;
    border-radius: 2px;
}
#editor:focus{
    outline: none !important;
}

.placeholder{
    color:gray !important;
}
.placeholder_default{
    height: 1em;
}

#editor p{
    font-family: Overpass Mono;
    color:rgba(0,0,0,.8);
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
}
#editor blockquote{
    font-family: Overpass Mono;
    color:rgba(0,0,0,.8);
    font-size: 25px;
    line-height: 2;
    letter-spacing: -.004em;
    font-style: italic;
    width: 80%;
    margin: 0 auto;
}



#editor h1,
#editor h2,
#blog_title{
    font-family: Asap;
    color:rgba(0,0,0,.8);
}

#editor h1,
#blog_title{
    font-size: 40px;
    line-height: 1.04;
    letter-spacing: 1.1px;
    font-weight: 600;
}

#editor h2{
    font-size: 30px;
    line-height: 1;
    letter-spacing: 1px;
}

#blog_title{
    border: 0px;
    background: none !important;
    font-size: 45px;
    line-height: 50px;
}
#blog_title:focus{
    border: 0;
    outline: 0;
}

.toolbar{
    padding:10px;
    /*width: 28em;*/
    position: absolute;
    left: 2em;
    top: 10em;
    text-align: center;
}
#toolbar-main{
    border: 2px solid #ececec;
    border-radius: 12px;
    width: 4em;
}
#toolbar-nav{
    position: absolute;
    bottom: 2em;
    left: 3em;
    margin-top: 2em;
    text-align: left;
}
#toolbar-nav span,
#toolbar-nav span a{
    cursor: pointer;
    /*margin-left: 1em;*/
    color: #e1e1e1;
    transition: color .1s linear;
    display: block;
    padding: 0;
    font-family: Hind;
    font-size: 14px;
    margin-top: 10px;
    text-decoration: none;
}

#toolbar-nav span:hover,
#toolbar-nav span a:hover{
    color: #4a4a4a;
}

.toolbar a{
    font-size: 22px;
    color: #ececec;
    padding: 10px;
    cursor: pointer;
    transition: color .2s ease;
    -webkit-transition: color .2s ease;
    display: block;
}
.toolbar a:hover{
    color: #212121;
}

h4{
    margin-bottom: 5px;
}
h5{
    margin-bottom: 9px;
}
.control-panel{
    /*background: #eff4f7;
    background: #eff4f7;*/
    padding: 1em 1.2em;
    padding: 11px 14px;
    margin-bottom: 5px;
}
.control-panel h4{
    font-weight: 500;
    display: inline-block;
    /*margin: 0;*/
}
.control-panel h5{
    font-weight: 500;
}
.blog-status-login button.log-in{
    float: right;
    border: 0px;
    background: white;
    margin-top: 2px;
    cursor: pointer;
    transition: background .2s ease;
    font-family: Hind;
}
.blog-status-login button.log-in:hover{
    background-color: #e1e1e1;
    /*color: white;*/
}

.blog-status-login h4{
    display: inline-block;
    margin-top: 9px;
    font-size: 15px;
    font-weight: 500;
    color: #4c4c4c;
    font-family: Hind;
}



.base-status{
    width: 4px;
    border-radius: 100%;
    background-color: gray;
    padding: 3px;
    height: 4px;
    display: inline-block;
}
.green-status{
    background-color: green;
}
.red-status{
    background-color: red;
}


#select-photo-popup{
    position: absolute;
    background: black;
    width: 650px;
    margin: 0 auto;
    right: 17em;
    top: 4em;
    border-radius: 9px;
    z-index: 3;
}
#spp-inner{
    margin: 0 auto;
    text-align: center;
    padding: 3em;
}
#spp-inner h2{
    color: white;
}
#hero-small img{
    width: 100%;
    margin-top: 5px;
}
#hero-small p{
    font-size: 10px;
    padding:0;
}

.submit-btn{
    width: 100%;
    padding: 9px;
    font-size: 14px;
    color: #3a3a3a;
    background: #68ff90;
    border: 0;
    margin: 15px 0 10px;
    cursor: pointer;
    transition: all .2s ease;
}

.submit-btn:hover{
    background-color: #5ce480;
}

.elbow-room{
    padding-top: 1em;
    padding-bottom: 1em;
}

#alert-box{
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 40em;
    border-radius: 5px;
    background-color: gray;
    margin-top:12px;
}

#alert-box.success-alert{
    background-color: #5ae284;
}
#alert-box.error-alert{
    background-color: #e25a80;
}

#alert-box > div{
    text-align: left;
    padding: 14px;
}
#alert-box > div h3{
    margin: 0;
    display: inline;
    font-size: 16px
}
#alert-box > div a{
    /*margin-left: 35px;*/
    font-size: 14px;
    color: #3a3a3a;
    float: right;
    margin-right: 2em;
    transition: color .1s linear;
}
#alert-box > div a:hover{
    color: #e1e1e1;
}

#alert-box > div span{
    margin-top: 2px;
    cursor: pointer;
    position: absolute;
    right: 1em;
    transition: color .1s linear;
}
#alert-box > div span:hover{
    color: white;
}

.module-background{
    background-color: rgba(76, 73, 73, 0.3);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.module{
    position: absolute;
    left: 0;
    right: 0;
    background: white;
    top: 5em;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}
.module > div{
    padding: 2em 4em;
    text-align: left;
    box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}
.close-module{
    position: absolute;
    right: 1em;
    top: 10px;
    transition: color .1s linear;
    cursor: pointer;
}
.close-module:hover{
    color:red;
}




